News and Event
    Title
    Description
    Picture

About
    General Information - tb_general - all ok
        Title
        Description
    About President - route/folder of view/sidebar/all
        Name
        Description
        Picture
    Vision and mission route/folder of view/sidebar/all
        Vision
        Mission
    About the Logo route/folder of view/sidebar/all
        Description
        picture
<!--  -->

    Core Values route/folder of view/sidebar
        Picture
        Description
        Title
    Core Competencies route/folder of view/sidebar
        Title
        Description
    Graduate Attributes route/folder of view/sidebar
        Title
        Description
    Academic Policies route/folder of view/sidebar
        Title
        Description

Admission
    Requirements - route/folder of view/sidebar
        Title
        Description
    Guidelines - route/folder of view/sidebar
        Title
        Description
    Registration - route/folder of view/sidebar
        Title
        Description
    Enrollment - route/folder of view/sidebar
        Title
        Description

Course Offering - route/folder of view/sidebar
    Course

Scholarships - route/folder of view/sidebar
    Title
    Description

Administrative route/folder of view/sidebar
    Picture
    Name
    Description/Position
    Contact

Alumni route/folder of view/sidebar
    Name
    Course
    Year Graduated

Arabic Department
    Senior High route/folder of view/sidebar
        Title
        Description 
    Junior High route
        Title
        Description /
    Elementary
        Title
        Description 
    Kinder route/folder of view/sidebar
        Title
        Description

